.gridContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gridItem {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.cardLink {
  text-decoration: none;
}

.cardLink:hover {
  text-decoration: none;
}

.hoverBackground {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--ifm-pagination-nav-border-radius);
  background-color: #f5f5f5;
}

[data-theme='dark'] .hoverBackground {
  background-color: rgb(30 41 59 / 0.8);
}

.card {
  position: relative;
  background-color: var(--ifm-background-color);
}

.cardContent {
  position: relative;
  z-index: 20;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--ifm-pagination-nav-border-radius);
  border: 1px solid transparent;
  background-color: var(--ifm-background-color);
  padding: 1rem;
}

.cardContent:hover {
  border-color: rgb(71 85 105);
}

[data-theme='dark'] .cardContent {
  border-color: rgb(255 255 255 / 0.2);
}

.cardInner {
  position: relative;
  z-index: 50;
}

.cardBody {
  padding: 0.5rem;
}

.cardTitle {
  color: var(--ifm-text-color);
  transition: all 0.3s ease;
}

.cardTitle:hover {
  color: var(--ifm-color-primary);
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.blogTags {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--ifm-text-color);
}

.dateText {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--ifm-color-emphasis-600);
}

.blogTags a {
  padding: 1px;
  border: 0;
  color: inherit;
}

.blogTags a:hover {
  color: var(--ifm-color-primary);
}

.blogSticky:after {
  opacity: 1;
  border: 10px solid var(--ifm-color-primary);
  border-block-end: 10px solid transparent;
  border-inline-start: 10px solid transparent;
  border-start-end-radius: 8px;
  position: absolute;
  inset-block-start: 1px;
  inset-inline-end: 1px;
  transition: all 0.3s cubic-bezier(0.845, 0.045, 0.355, 1);
  border-block-end: 10px solid transparent;
  border-inline-start: 10px solid transparent;
  border-start-end-radius: 6px;
  content: '';
}
