.headerInfo {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.375rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.infoItem {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tagsContainer {
  display: inline-flex;
  text-align: center;
}

.tag {
  padding: 0.125rem;
  border: 0;
  color: var(--ifm-text-color);
}

.tag:hover {
  color: var(--ifm-link-color);
}
