.category {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 40px;
}
/* .category:first-child {
  margin-top: 0;
} */

.categoryGrid {
  border-top: 1px solid #e2e2e3;
  padding: 24px 0 0;
  display: grid;
  flex-wrap: wrap;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
