.background {
  background-color: var(--ifm-background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
