/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-blockquote-border-color: rgb(80, 172, 153);
  --ifm-blockquote-padding-vertical: 14px;
  --ifm-blockquote-padding-horizontal: 14px;
  --ifm-blockquote-border-left-width: 3px;
  -ms-text-autospace: normal;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

code {
  color: #a90d91;
}

html[data-theme='dark'] code {
  color: #9fcae3;
}

blockquote {
  background: #f0f0f0;
}

html[data-theme='dark'] blockquote {
  background: rgb(71 71 72);
}
